<!DOCTYPE html>
<html>

<head>
    <link href="/views/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <a href="/signup">
        <button class="link">Signup</button>
    </a>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="error"><%= message %></div>
        <% } %>
    
        <!-- LOGIN FORM -->
        <form class="auth" action="/login" method="post">
            <div class="inputs">
                <input type="text" class="" name="email" placeholder="Email">
                <br/>
                <input type="password" class="" name="password" placeholder="Password">
            </div>
    
            <button type="submit" class="submit">Login</button>

        </form>
    
        <div id="github"><img src="/views/img/github_32px.png"/><a href="/oauth/github">Github</a></div>
    
</body>
</html>